body {
    margin: 0;
    padding: 0;
    width: 100vw;
}
main {
    display: grid;
    grid-template-rows: 45vh 10vh 45vh;
    grid-template-columns: 45vw 16vh 45vw;
    width: 100vw;
}

.top {
    grid-row: 1/2;
    grid-column: 1/5;
    height: 50vh;
    background-color: red;
}

.middle {
    grid-row: 2/3;
    grid-column: 1/5;
    height: 10vh;
    background-color: black;
    text-align: center;
}

.button {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 16vh;
    width:16vh;
    background-color: white;
    margin: 0 auto;
    margin-top: -3vh;
    outline: solid black 10px;
    border-radius: 200px;
}

.lilbutton {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 10vh;
    width:10vh;
    background-color: white;
    margin: 0 auto;
    outline: solid black 4px;
    border-radius: 200px;
}

@media only screen and (min-width: 600px) {
    .lilbutton:hover {
        background-color: yellow;
    }
  }



.lilbutton:active {
    background-color: aqua;
}

.lilbutton-on {
    background-color: red;
}

.bottom {
    grid-row: 3/4;
    grid-column: 1/5;
    height: 45vh;
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        width: 90vw;
    }
    
    main {
        display: grid;
        grid-template-rows: 45vh 10vh 45vh;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;
    }

    .top {
      background-color: red;
    }
  }
